@import "./constants";

@mixin border-left {
    border-left: 1px solid $ColorLight;
}

@mixin border-top {
    border-top: 1px solid $ColorLight;
}

@mixin border-right {
    border-right: 1px solid $ColorLight;
}

@mixin border {
    border: 1px solid $ColorLight;
}

@mixin square($width, $heigth) {
    width: $width;
    height: $heigth;
}

@mixin font-style($weight, $size, $line-height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
}