@import "../constants";
@import "../mixins";

.header {
    position: relative;
    display: flex;
    min-height: 70px;
    background-color: #191d2c;

    &__navigation {
        position: absolute;
        display: flex;
        top: 27px;
        left: 50px;
    }

    @media screen and (max-width: 768px) {
        &__navigation {
            left: 34px;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.5s, opacity 0.4s linear;
        }
    }

    @media screen and (max-width: 320px) {
        &__navigation {
            left: 20px;
        }
    }

    &__navigation-open {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.5s, opacity 0.5s linear;
    }

    @media screen and (min-width: 768px) {
        &__navigation {
            display: flex;
        }
    }

    &__navigation-link {
        margin: 0;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding-right: 20px;
        display: flex;
    }

    @media screen and (max-width: 320px) {
        &__navigation-link {
            padding-right: 16px;
        }
    }

    &__navigation-link:hover {
        transition: linear 0.3s;
        opacity: 0.5;
    }

    &__link-text {
        @include font-style(normal, 12px, 16px);
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $ColorLight;
    }

    &__place-logo {
        margin: auto;
        opacity: 1;
        visibility: visible;
        transition: visibility 0.5s, opacity 0.4s linear;
    }

    &__close-logo {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s, opacity 0.3s linear;
    }

    &__menu-button {
        display: none;
    }

    @media screen and (max-width: 768px) {
        &__menu-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 23px;
            right: 34px;
            cursor: pointer;
            background-color: #191d2c;
            padding: 0;
            border: 0;
        }
    }

    @media screen and (max-width: 375px) {
        &__menu-button {
            top: 23px;
            right: 20px;
        }
    }

    &__menu-image {
        @include square(26px, 24px);
    }

    &__menu-close {
        display: none;
    }

    @media screen and (max-width: 375px) {
        &__menu-image {
            @include square(20px, 20px);
        }
    }

    &__close-novigation {
        display: none;
    }

    &__close-button {
        display: flex;
    }
}
