@import "../constants";
@import "../mixins";

.presentation {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 140px;
    background-color: $ColorDark;
    padding: 150px 0;
    @include border-top;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 1200px) {
        &__info {
            width: 100%;
        }
    }

    &__image {
        width: 720px;
        max-height: 540px;
        margin: auto;
    }

    @media screen and (max-width: 769px) {
        &__image {
            max-width: 700px;
            max-height: 510px;
        }
    }

    @media screen and (max-width: 742px) {
        &__image {
            width: calc(100% - 40px);
        }
    }

    @media screen and (max-width: 500px) {
        &__image {
            @include square(280px, 202px);
        }
    }

    &__title {
        @include font-style(normal, 65px, 73px);
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    @media screen and (max-width: 500px) {
        &__title {
            @include font-style(normal, 38px, 50px);
            margin-top: 26px;
            margin-bottom: 30px;
        }
    }

    &__text {
        @include font-style(normal, 19px, 28px);
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }

    &__text:nth-child(1) {
        margin-top: 30px;
    }

    @media screen and (max-width: 1200px) {
        &__text:nth-child(1) {
            margin-top: 0;
        }
        &__text:last-child {
            margin-bottom: 100px;
        }
    }

    @media screen and (max-width: 500px) {
        &__text {
            @include font-style(normal, 11px, 14px);
        }
        &__text:last-child {
            margin-bottom: 60px;
        }
    }

    &__button {
        @include square(360px, 64px);
        border: 1px solid $ColorLight;
        box-sizing: border-box;
        background-color: #191d2c;
        margin: auto auto 30px;
        padding: 0;
        @include font-style(normal, 15px, 60px);
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $ColorLight;
        cursor: pointer;
    }

    &__button:hover {
        color: $ColorDark;
        background-color: $ColorLight;
        transition: linear 0.3s;
    }

    @media screen and (max-width: 1200px) {
        &__button {
            margin-top: 100px;
            margin-bottom: 0;
        }
    }
    
    @media screen and (max-width: 500px) {
        &__button {
            width: 280px;
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .presentation {
        display: flex;
        flex-direction: column;
        padding: 100px 0;
    }
}

@media screen and (max-width: 500px) {
    .presentation {
        padding: 60px 0;
    }
}
