@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  color: #E1FD2C;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  position: relative;
  display: flex;
  min-height: 70px;
  background-color: #191D2C;
}
.header__navigation {
  position: absolute;
  display: flex;
  top: 27px;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation-link {
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
  display: flex;
}
.header__navigation-link:hover {
  opacity: 0.5;
}
.header__link-text {
  font-weight: normal;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #E1FD2C;
}
.header__place-logo {
  margin: auto;
}
.header__menu-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 23px;
    right: 34px;
    cursor: pointer;
    background-color: #191D2C;
    padding: 0;
    border: 0;
  }
}
@media screen and (max-width: 375px) {
  .header__menu-button {
    top: 23px;
    right: 20px;
  }
}
.header__menu-image {
  width: 26px;
  height: 24px;
}
@media screen and (max-width: 375px) {
  .header__menu-image {
    width: 20px;
    height: 20px;
  }
}

.logo {
  width: 184px;
  height: 38px;
}
@media screen and (max-width: 375px) {
  .logo_place_footer {
    width: 280px;
    height: 58px;
  }
  .logo_place_header {
    width: 100px;
    height: 20px;
  }
}

.presentation {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 140px;
  background-color: #191D2C;
  padding: 150px 0;
  border-top: 1px solid #E1FD2C;
}
.presentation__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .presentation__info {
    width: 100%;
  }
}
.presentation__image {
  width: 720px;
  max-height: 540px;
  margin: auto;
}
@media screen and (max-width: 769px) {
  .presentation__image {
    max-width: 700px;
    max-height: 510px;
  }
}
@media screen and (max-width: 742px) {
  .presentation__image {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 500px) {
  .presentation__image {
    width: 280px;
    height: 202px;
  }
}
.presentation__title {
  font-weight: normal;
  font-size: 65px;
  line-height: 73px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .presentation__title {
    font-size: 38px;
    line-height: 50px;
    margin-top: 26px;
    margin-bottom: 30px;
  }
}
.presentation__text {
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.presentation__text:nth-child(1) {
  margin-top: 30px;
}
@media screen and (max-width: 1200px) {
  .presentation__text:nth-child(1) {
    margin-top: 0;
  }
  .presentation__text:last-child {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .presentation__text {
    font-size: 11px;
    line-height: 14px;
  }
  .presentation__text:last-child {
    margin-bottom: 60px;
  }
}
.presentation__button {
  width: 360px;
  height: 64px;
  border: 1px solid #E1FD2C;
  box-sizing: border-box;
  background-color: #191D2C;
  margin: auto auto 30px;
  padding: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #E1FD2C;
  cursor: pointer;
}
.presentation__button:hover {
  color: #191D2C;
  background-color: #E1FD2C;
}
@media screen and (max-width: 1200px) {
  .presentation__button {
    margin-top: 100px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .presentation__button {
    width: 280px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .presentation {
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 100px 0;
  }
}
@media screen and (max-width: 500px) {
  .presentation {
    padding: 60px 0;
  }
}
.data {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 25% 25%;
  background-color: #191D2C;
  padding: 0;
  border-top: 1px solid #E1FD2C;
}
.data__info {
  display: flex;
  padding: 40px 50px 45px;
}
@media screen and (max-width: 1000px) {
  .data__info {
    grid-row: 1;
    grid-column: 1/span 2;
  }
}
@media screen and (max-width: 500px) {
  .data__info {
    padding: 18px 20px;
  }
}
.data__info-text {
  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  width: 560px;
}
@media screen and (max-width: 1000px) {
  .data__info-text {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .data__info-text {
    font-size: 16px;
    line-height: 27px;
  }
}
.data__span-accent {
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .data__span-accent {
    font-size: 16px;
    line-height: 20px;
  }
}
.data__arguments {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  border-left: 1px solid #E1FD2C;
}
@media screen and (max-width: 1000px) {
  .data__arguments {
    grid-row: 2;
    border-top: 1px solid #E1FD2C;
  }
}
@media screen and (max-width: 500px) {
  .data__arguments {
    grid-row: auto;
    border-left: 0;
    padding: 20px;
  }
}
.data__info-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
@media screen and (max-width: 500px) {
  .data__info-title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 40px;
  }
}
.data__argument-text {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  margin: 0 0 2px;
}
@media screen and (max-width: 500px) {
  .data__argument-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .data {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 506px;
  }
}
@media screen and (max-width: 500px) {
  .data {
    display: flex;
    flex-direction: column;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  background-color: #191D2C;
  border-top: 1px solid #E1FD2C;
}
.gallery__image {
  width: 720px;
  max-height: 540px;
  border-right: 1px solid #E1FD2C;
}
@media screen and (max-width: 1200px) {
  .gallery__image {
    border-right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .gallery__image {
    max-width: 700px;
    max-height: 510px;
  }
}
@media screen and (max-width: 766px) {
  .gallery__image {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 500px) {
  .gallery__image {
    width: 280px;
    height: 204px;
  }
}
.gallery__flipping {
  display: flex;
  flex-direction: row;
  width: 620px;
  padding: 0 50px;
  border-top: 1px solid #E1FD2C;
  border-right: 1px solid #E1FD2C;
}
@media screen and (max-width: 1200px) {
  .gallery__flipping {
    width: 668px;
    padding: 0 16px;
    border: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .gallery__flipping {
    width: calc(100% - 32px);
  }
}
@media screen and (max-width: 500px) {
  .gallery__flipping {
    width: calc(100%);
    padding: 0;
  }
}
.gallery__title {
  font-weight: normal;
  font-size: 46px;
  line-height: 46px;
  margin: 50px 0;
}
@media screen and (max-width: 500px) {
  .gallery__title {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
.gallery__button {
  width: 42px;
  height: 34px;
  cursor: pointer;
  background-color: #191D2C;
  padding: 0;
  border: 0;
  color: #E1FD2C;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.gallery__button:hover {
  opacity: 0.5;
}
.gallery__button:nth-child(2) {
  margin-left: auto;
}
@media screen and (max-width: 500px) {
  .gallery__button {
    margin-top: 53px;
    margin-left: 16px;
    width: 24px;
    height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .gallery__button-image {
    width: 24px;
    height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 35px 34px 0;
  }
}
@media screen and (max-width: 500px) {
  .gallery {
    padding: 20px 20px 0;
  }
}
.media {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  background-color: #191D2C;
  padding: 0;
  border-top: 1px solid #E1FD2C;
}
.media__title {
  font-weight: normal;
  font-size: 46px;
  line-height: 46px;
  margin: 51px 50px;
}
@media screen and (max-width: 800px) {
  .media__title {
    display: none;
  }
}
.media__section-subtitle {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #E1FD2C;
}
@media screen and (max-width: 800px) {
  .media__section-subtitle {
    border-left: 0;
  }
}
.media__subtitle {
  margin: 51px 50px 0;
  font-weight: 300;
  font-size: 30px;
  line-height: 42px;
}
@media screen and (max-width: 500px) {
  .media__subtitle {
    margin: 21px 20px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
  }
}
.media__subtitle-button {
  width: 12px;
  height: 12px;
  background-color: #191D2C;
  border: 1px solid #E1FD2C;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 14px;
  cursor: pointer;
}
.media__subtitle-button_active {
  background-color: #E1FD2C;
}
.media__span-accent {
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .media__span-accent {
    font-size: 16px;
    line-height: 27px;
  }
}
.media__link-zone {
  padding: 263px 50px 50px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 500px) {
  .media__link-zone {
    padding: 150px 20px 20px;
  }
}
.media__link-button {
  width: 110px;
  height: 52px;
  background-color: #191D2C;
  border: 1px solid #E1FD2C;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  color: #E1FD2C;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
}
.media__link-button:hover {
  color: #191D2C;
  background-color: #E1FD2C;
}
@media screen and (max-width: 500px) {
  .media__link-button {
    width: 88px;
    height: 42px;
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .media {
    display: flex;
    flex-direction: column;
  }
}
.form {
  display: flex;
  flex-direction: column;
}
.form__style {
  display: flex;
}
.form__input {
  background-color: #191D2C;
  border: 1px solid #E1FD2C;
  color: #E1FD2C;
  height: 32px;
  padding: 0 10px;
  outline: none;
}
.form__input::-moz-placeholder {
  color: #E1FD2C;
  font-weight: normal;
  font-size: 9px;
  line-height: 18px;
}
.form__input:-ms-input-placeholder {
  color: #E1FD2C;
  font-weight: normal;
  font-size: 9px;
  line-height: 18px;
}
.form__input::placeholder {
  color: #E1FD2C;
  font-weight: normal;
  font-size: 9px;
  line-height: 18px;
}
.form__input:focus::-moz-placeholder {
  color: transparent;
}
.form__input:focus:-ms-input-placeholder {
  color: transparent;
}
.form__input:focus::placeholder {
  color: transparent;
}
.form__input_type_name {
  border-bottom: 0;
  border-right: 0;
  width: 149px;
}
@media screen and (max-width: 375px) {
  .form__input_type_name {
    width: 119px;
  }
}
.form__input_type_lastName {
  border-bottom: 0;
  width: 149px;
}
@media screen and (max-width: 375px) {
  .form__input_type_lastName {
    width: 119px;
  }
}
.form__input_type_email {
  width: 240px;
  border-right: 0;
}
@media screen and (max-width: 375px) {
  .form__input_type_email {
    width: 180px;
  }
}
.form__button {
  background-color: #E1FD2C;
  border: 1px solid #E1FD2C;
  width: 80px;
  height: 34px;
  padding: 0;
  cursor: pointer;
}
.form__button-text {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #191D2C;
}

.footer {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  background-color: #191D2C;
  padding: 0;
  border-top: 1px solid #E1FD2C;
}
.footer__section {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
@media screen and (max-width: 500px) {
  .footer__section {
    padding-left: 20px;
    padding-top: 20px;
  }
}
.footer__section:nth-child(1) {
  padding-right: 0;
}
.footer__section:nth-child(2) {
  border-left: 1px solid #E1FD2C;
}
@media screen and (max-width: 800px) {
  .footer__section:nth-child(2) {
    border-left: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__section:nth-child(2) {
    border-left: 0;
    padding: 70px 0 20px;
  }
}
.footer__title {
  font-weight: normal;
  font-size: 46px;
  line-height: 46px;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .footer__title {
    font-size: 26px;
    line-height: 26px;
  }
}
.footer__subtitle {
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 64px;
}
@media screen and (max-width: 500px) {
  .footer__subtitle {
    font-size: 14px;
    line-height: 14px;
    margin-top: 14px;
    margin-bottom: 60px;
  }
}
.footer__place-logo {
  margin: 0 0 0 auto;
}
@media screen and (max-width: 640px) {
  .footer__place-logo {
    margin: 0 auto 0 50px;
  }
}
@media screen and (max-width: 500px) {
  .footer__place-logo {
    margin-left: 20px;
  }
}
.footer__copyright {
  margin: auto 0 0 auto;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 1px;
}
@media screen and (max-width: 640px) {
  .footer__copyright {
    margin: 20px auto 0 62px;
  }
}
@media screen and (max-width: 500px) {
  .footer__copyright {
    margin-left: 32px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr auto;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */